html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}
nav {
    background-color: #285619; /* Cor de fundo verde conforme paleta da equipe*/
    padding: 10px 20px;
    display: flex; /* Alinha o texto ao lado da imagem */
    align-items: center; /* Centraliza texto com a imagem */
    border-bottom-left-radius: 15px; /* Borda arredondada lado esquerdo */
    border-bottom-right-radius: 15px; /* Borda arredondada lado direito */ 
}
nav img {
    height: 40px; /* Altura da imagem */
    margin-left: 10px; /* Espaço à esquerda da imagem */
}
nav h1 {
    color: white;
    margin: 0;
    font-size: 20px;
    margin-left: 15px; /* Espaço entre imagem e texto*/
    
}

.footer-app {
    position: fixed;
    bottom: 0;
    height: 45px;
    width: 100%;
    color: #285619;
    background-color: #4ca21d;
}

.footer-app p {
    text-align: center;
}




/* Media Queries para Responsividade */
@media (max-width: 768px) {
    nav {
        padding: 15px 15px; /* Reduz o padding para telas menores */
        align-items: center; /* Centraliza os itens horizontalmente */
        text-align: center; /* Centraliza o texto dentro do nav */
    }

    nav img {
        height: 30px; /* Reduz a altura da imagem */
        margin-right: 10px; /* Reduz o espaço à direita da imagem */
    }

    nav h1 {
        font-size: 18px; /* Reduz o tamanho da fonte do título */
        margin-left: 0; /* Remove a margem esquerda */
        text-align: center; /* Centraliza o texto */
    }

    .footer-app {
        height: auto; /* Ajusta a altura do footer */
        padding: 10px; /* Adiciona padding interno */
    }
}

@media (max-width: 480px) {
    nav {
        padding: 15px; /* Reduz ainda mais o padding para telas muito pequenas */
    }

    nav img {
        height: 20px; /* Reduz a altura da imagem para telas muito pequenas */
    }

    nav h1 {
        font-size: 16px; /* Reduz o tamanho da fonte do título para telas muito pequenas */
    }

    .footer-app {
        font-size: 14px; /* Ajusta o tamanho da fonte no footer para telas pequenas */
        padding: 5px; /* Ajusta o padding do footer para telas muito pequenas */
    }
}